<div class="row-fluid">
   <div class="span3"></div>
   <div class="span6" style="background-color:skyblue; border: white 1px solid">
      <div class="row-fluid">
         <div class="span6" style="text-align:right; font-weight:bold">Title</div>
         <div class="span5"><%= todo.title %></div>
         <div class="span1"><button class="dismiss" type="button">x</button></div>
      </div>
      <div class="row-fluid">
         <div class="span6" style="text-align:right; font-weight:bold">Description</div>
         <div class="span6"><%= todo.description %></div>
      </div>
   </div>
   <div class="span3"></div>
</div>
